.about {
  display: flex;
  padding: 7rem;
  align-items: center;

  &__content {
    background-color: transparent;
    width: 60%;
    font-size: 1.7rem;
  }

  &__paragraph {
    line-height: 1.4;
    margin: 2rem 0;
    padding-right: 5rem;
  }

  &__list {
    list-style: none;
    padding-top: 2rem;
    margin: 1rem 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item {
    flex: 0 0 50%;
    margin-bottom: 0.7rem;
    font-family: $font-primary;
    font-size: 1.5rem;
    font-weight: 300;

    span {
      padding: 0 0.5rem;
      font-weight: 500;
    }
  }

  &__icon {
    padding-right: 1rem;
    color: $accent-color-1;
    font-size: 1.5rem;
  }

  &__picture {
    width: 40%;
    height: 70%;
    margin-left: 8rem;
    position: relative;
  }

  &__self {
    width: 100%;
    max-width: 50rem;
    border-radius: 1rem;
  }

  &__box {
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    top: 2rem;
    left: 2rem;
    border: 2px solid $secondary-color;
    z-index: -1;
  }
}
