// FONT VARIABLES
$font-primary: 'Raleway', sans-serif;
$font-secondary: 'Montserrat', sans-serif;
$font-code: 'Source Code Pro', monospace;

// COLOR VARIABLES
$primary-color: #18121e;
$primary-color-dark: #000000;
$secondary-color: #984b43;
$accent-color-1: #eac678;
$accent-color-2: #233237;
$light-color: #eeeeee;
$light-color-2: #d4d4d4;

// SCREEN SIZES
$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 31.25em; // 500px

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: $font-primary;
  color: $light-color;
  line-height: 1.6;
  background-color: $primary-color;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 120rem;
  margin: 5rem 0 auto;
  min-height: 50rem;

  section {
    &:not(:last-of-type) {
      margin: 10rem auto;
    }
  }
}

.logo {
  height: 7rem;
  margin-left: 2rem;
  border-radius: 50%;
}

.heading-2 {
  font-size: 3.5rem;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 300;
  color: $secondary-color;
  display: flex;
  align-items: center;
  position: relative;
  width: 100%;

  &::after {
    content: '';
    height: 1px;
    width: 30rem;
    background-color: $accent-color-2;
    margin-left: 2rem;
  }
}

.heading-3 {
  font-size: 2.25rem;
  font-family: $font-secondary;
  text-transform: uppercase;
  font-weight: 300;
  color: $accent-color-1;
}

.btn {
  font-family: $font-secondary;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  background-color: transparent;
  color: $accent-color-1;
  border: 1px solid $accent-color-1;
  border-radius: 0.4rem;
  padding: 1.25rem 1.75rem;
  margin-top: 5rem;
  cursor: pointer;
  transition: all 0.2s;

  &:hover {
    background-color: $accent-color-1;
    color: $accent-color-2;
    animation: pulsate 1s infinite;
  }

  a:link,
  a:visited {
    text-decoration: none;
    color: inherit;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
    box-shadow: none;
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.25);
  }

  100% {
    transform: scale(1);
    box-shadow: none;
  }
}
