.footer {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;

  &__credit {
    font-size: 1.2rem;
    color: $secondary-color;
    padding-top: 5rem;
  }
}
