.header {
  display: flex;
  padding: 10rem;
  margin-top: 5rem;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  &__greeting,
  &__summary {
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5px;
  }

  &__title {
    font-family: $font-primary;
    font-size: 7rem;
    font-weight: 300;
    letter-spacing: 2.5px;
    color: $secondary-color;
  }
}
