.container {
  max-width: 120rem;
  margin: 8rem auto;
  min-height: 50rem;
}

.navigation {
  font-size: 1.4rem;
  height: 7rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
