.work {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  align-items: center;

  &__project {
    display: flex;
    margin-top: 2rem;
  }

  &__example {
    img {
      width: 70%;
    }
  }

  &__content {
    width: 50%;
  }

  &__summary {
  }

  &__technologies {
    list-style: none;
  }

  &__technology {
  }

  &__links {
    list-style: none;
  }

  &__link {
  }
}
