.work {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  align-items: center;

  &__projects {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  &__project {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
  }

  &__project:nth-child(odd) {
    flex-direction: row;
  }

  &__example {
    width: 65%;

    img {
      width: 100%;
      display: block;
      padding: 2rem;
    }
  }

  &__content {
    width: 35%;
    text-align: left;
    align-items: center;
  }

  &__content:nth-child(odd) {
    text-align: right;
  }

  &__summary {
    padding: 2rem 0;
    font-size: 1.7rem;
    width: 100%;
  }

  &__technologies {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
  }

  &__technology {
    color: $secondary-color;
    font-family: $font-code;
    font-size: 1.5rem;
    letter-spacing: 2px;
    padding: 0 2rem;
  }

  &__links {
    display: flex;
    align-content: center;
    justify-content: left;
  }

  &__links:nth-child(even) {
    display: flex;
    justify-content: end;
  }

  &__icon {
    height: 2.25rem;
    width: 2.25rem;
    fill: $light-color-2;
    margin: 0 1rem;
  }
}
