.work {
  display: flex;
  flex-direction: column;
  padding: 7rem;
  align-items: center;

  &__project {
    display: flex;
    margin-top: 2rem;
    align-items: center;
  }

  &__example {
    width: 65%;
    img {
      width: 100%;
      display: block;
      padding: 2rem;
    }
  }

  &__content {
    width: 35%;
    text-align: right;
  }

  &__summary {
    background-color: $primary-color;
    box-shadow: 0 1.5rem 4rem rgba($primary-color-dark, 0.2);
    padding: 2rem;
    font-size: 1.7rem;
    width: 100%;
    text-align: left;
  }

  &__technologies {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
  }

  &__technology {
    font-size: 1.2rem;
    color: $light-color-2;
  }

  &__links {
    display: flex;
    justify-content: end;
    align-content: center;
  }

  &__icon {
    height: 3rem;
    width: 3rem;
    fill: $secondary-color;
    margin-left: 1rem;
  }
}
