@import url('https://fonts.googleapis.com/css2?family=Oswald&family=Raleway:wght@400;700&display=swap');

:root {
  --primaryColor: #fff;
  --navColor1: #2f2f2f;
  --navColor2: #424049;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #000;
  font-family: 'Raleway', sans-serif;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

/* --- NAVIGATION MENU ------------------------------ */
.overlay {
  position: fixed;
  z-index: 9;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  transform: translateX(-100vw);
}

.overlay-slide-right {
  transition: all 0.4s ease-in-out;
  transform: translateX(0);
}

.overlay-slide-left {
  transition: all 0.8s ease-in-out;
  transform: translateX(-100vw);
}

nav,
nav ul {
  height: 100vh;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  list-style: none;
  opacity: 95%;
}

nav ul li {
  height: 20%;
  overflow: hidden;
}

nav li a {
  position: relative;
  top: 45%;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-decoration: none;
  display: block;
  text-align: center;
  z-index: 2;
  font-size: 25px;
}

nav li:nth-of-type(1) {
  background-color: var(--navColor1);
}
nav li:nth-of-type(2) {
  background-color: var(--navColor2);
}
nav li:nth-of-type(3) {
  background-color: var(--navColor1);
}
nav li:nth-of-type(4) {
  background-color: var(--navColor2);
}

.slide-in-1 {
  animation: slide-in 0.4s linear 0.1s both;
}
.slide-in-2 {
  animation: slide-in 0.4s linear 0.2s both;
}
.slide-in-3 {
  animation: slide-in 0.4s linear 0.4s both;
}
.slide-in-4 {
  animation: slide-in 0.4s linear 0.6s both;
}
@keyframes slide-in {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}
.slide-out-1 {
  animation: slide-out 0.3s linear 0.6s both;
}
.slide-out-2 {
  animation: slide-out 0.3s linear 0.4s both;
}
.slide-out-3 {
  animation: slide-out 0.3s linear 0.2s both;
}
.slide-out-4 {
  animation: slide-out 0.3s linear 0.1s both;
}

@keyframes slide-out {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

nav li a:hover {
  transform: scale(1.2);
}

nav li a::before {
  content: '';
  width: 35vw;
  height: 3px;
  background-color: #fff;
  position: absolute;
  top: 47.5%;
  left: 0;
  opacity: 0;
}

nav li a:hover::before {
  opacity: 1;
}

nav li a:visited {
  color: #fff;
}

/* --- MENU BARS ------------------------------------ */
.menu-bars {
  position: fixed;
  top: 1rem;
  right: 2rem;
  z-index: 10;
  display: inline;
  cursor: pointer;
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 2px;
  background-color: #fff;
  margin: 8px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  transform: rotate(-45deg) translate(-7px, 8px);
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
}

/* --- SECTIONS ------------------------------------ */

section {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: var(--primaryColor);
  padding-left: 15px;
  line-height: 35px;
}

section h1 {
  font-size: 2rem;
  font-family: 'Oswald', sans-serif;
  padding-bottom: 15px;
}

section.home {
  background-image: url('https://images.unsplash.com/photo-1448375240586-882707db888b?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80');
  background-size: cover;
  background-position: center center;
}

section.home .intro {
  z-index: 2;
}

section.home::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

section.home .name {
  position: absolute;
  z-index: 2;
  top: 1.5rem;
  left: 1.5rem;
  text-decoration: none;
  font-size: 1.8rem;
  padding-bottom: 5px;
  margin: 0 20px;
  color: var(--primaryColor);
  border-bottom: 1px solid var(--primaryColor);
}

section.home .social {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  font-size: 2.5rem;
  padding: 50px;
}

section.home .social a {
  cursor: pointer;
  text-decoration: none;
  color: var(--primaryColor);
}

section.home .social i:hover {
  transform: scale(1.2);
}

section.about {
  background-color: var(--navColor1);
}

section.about .info {
  width: 75%;
}

section.about p:nth-of-type(1) {
  padding: 20px 0;
}

section.about ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin: 20px;
  font-size: 3.5rem;
  margin-top: 50px;
}

.break {
  display: none;
}

section.projects {
  background-color: var(--navColor2);
}

.project-list {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  height: 100%;
  padding: 50px 0;
}

.project {
  height: 100%;
  width: 90%;
  padding: 50px 10px;
}

.project h2 {
  margin-top: 0;
}

.project p {
  margin: 10px 0;
}

.project-list hr {
  width: 100%;
  color: var(--navColor1);
  box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
}

a {
  cursor: pointer;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

section.contact a {
  color: var(--navColor1);
}

section.contact {
  background-color: var(--navColor1);
  text-align: center;
}

.reach-out p {
  margin-bottom: 15px;
}

button {
  cursor: pointer;
  font-size: 1.2rem;
  height: 2.5rem;
  border: none;
  border-radius: 10px;
  color: #000000;
  background: var(--primaryColor);
  outline: none;
  padding: 0.4rem 1.8rem;
  text-transform: uppercase;
}

button:hover {
  filter: brightness(120%);
  transform: scale(1.2);
}

button:active {
  transform: translate(0, 0.3rem);
}

@media (max-width: 415px) {
  section.home .name {
    left: 0.5rem;
  }

  section.home .intro {
    width: 75%;
  }

  section.home .title {
    font-size: 1.5rem;
  }

  section.home .intro li {
    margin: 0 5%;
  }

  section.about {
    font-size: 0.9em;
  }

  section.about .info {
    line-height: 30px;
    width: 80%;
  }

  section.about ul {
    flex-wrap: wrap;
    margin: 25px 0;
  }

  section.about ul li {
    font-size: 0.8em;
    margin: 10px;
  }

  section.about h1 {
    font-size: 1.8em;
  }

  .project-list {
    padding: 15px 0;
    display: flex;
  }

  .project {
    padding: 0;
    width: 90%;
  }

  .project h2 {
    font-size: 1rem;
  }

  .project p {
    font-size: 0.75rem;
    line-height: 20px;
    margin: 5px 0;
  }

  .project button {
    padding: 0.2rem 1.3rem;
    height: 1.5rem;
    font-size: 0.85rem;
  }

  .project-list hr {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 100%;
  }

  section.contact .reach-out {
    width: 90%;
  }
}

@media (min-width: 415px) and (max-width: 550px) {
  .menu-bars {
    top: 0.5rem;
    right: 1rem;
  }

  section {
    max-width: 100%;
  }

  section.home .name {
    top: 1rem;
    left: 1rem;
  }

  section.home .intro,
  section.contact {
    padding: 0 10px;
  }

  section.about .info {
    width: 90%;
  }

  section.about ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 4em;
  }

  .break {
    flex-basis: 100%;
  }

  .project-list {
    height: 100%;
    padding-top: 20px;
  }

  .project h2 {
    font-size: 1rem;
  }

  .project p {
    font-size: 0.75rem;
    line-height: 18px;
    margin: 5px 0;
  }

  .project button {
    padding: 0.2rem 1.3rem;
    height: 1.5rem;
    font-size: 0.85rem;
  }
}

@media (max-width: 800px) {
  section.home .intro {
    width: 80%;
  }

  .project {
    padding: 17px 0;
  }

  .project p {
    font-size: 0.85rem;
  }
}
