@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Alice&family=Raleway:wght@300;500&family=VT323&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #212121;
  color: #ffffff;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
  min-height: 100vh;
  padding: 0rem 5rem;
}

nav {
  z-index: 10;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  width: 100xw;
  letter-spacing: 3px;
  padding: 25px;

  .nav-links {
    display: flex;
    list-style: none;

    li {
      padding-left: 5rem;

      a {
        margin-right: 25px;
        color: #ffffff;
        text-decoration: none;
        border-bottom: 3px solid transparent;

        a:hover,
        a:focus {
          color: #f5f5f5;
          border-bottom: 3px solid;
        }
      }
    }
  }
}

.hero-container {
  position: relative;
  padding: 40px 15px;

  h1 {
    font-size: 4.5rem;
  }
}

h1 {
  font-family: 'Alice', serif;
  font-size: 35px;
}

section {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .picture {
    width: 35%;
    padding-left: 50px;

    img {
      border-radius: 10px;
    }
  }

  .info {
    width: 46%;

    p {
      padding-top: 20px;
    }
  }
}
