@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Alice&family=Raleway:wght@300;500&family=VT323&display=swap');

body {
    background-color: #212121;
    color: #ffffff;
    overflow-x: hidden;
    overflow: auto;
    display: block;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

h1 {
    font-family: 'Alice', serif;
    font-size: 3rem;
}

p {
    padding-top: 10px;
}

.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.container {
    width: 100%;
    height: 90%;
    min-height: 566px;
    position: absolute;
    top: 5%;
    left: 10%;
    margin: 0 auto;
    z-index: 1;
    line-height: 50px;
    font-size: 23px;
}

.home-section {
    position: absolute;
    top: 42%;
    width: 30%;
    height: 20%;
}

.lava {
    position: absolute;
    left: 157%;
    margin-left: 182px;
    top: -30px;
    margin-top: -237px;
    height: 80%;
    width: 60%;
}

.lava {
    img {
        max-height: 990px;
        max-width: 970px;
    }
}

.about-section {
    position: absolute;
    top: 30%;
    width: 40%;
    height: 70%;
}

.vert-timeline {
    position: absolute;
    left: 115%;
    margin-left: 120px;
    top: 5%;
    margin-top: -200px;
    height: 100%;
}

.skills-section {
    position: absolute;
    top: 35%;
    width: 40%;
    height: 20%;
}
.project-section {
    position: absolute;
    top: 20%;
    width: 100%;
    height: 20%;
}

#my-projects {
    position: absolute;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    top: 10%;
    margin-top: 10%;
}    

.project-container {
    display: block;
    position: relative;
    background-color: #454444;
    margin-right: 20%;
    height: 120%;
    padding: 10px 20px 5px 20px;
    border-radius: 20px;
    width: 50%;
    text-align: center;
}

.project-container {
    .project-content {
        padding-bottom: 20px;
        height: 50%;
        width: 100%;
    }
    p {
        line-height: 30px;
    }
    img {
        max-height: 300px;
        max-width: 500px;
        padding: 20px;
        border-radius: 20px;
        background-color: #333333;
    }
    h3 {
        padding-top: 20px;
    }
    hr {
        width: 100%;
    }
    .btn {
        position: static;
        margin-top: 30px;
        margin-right: 10px;
    }

    .versa-btn {
        margin-top: 50px;
    }
    .galveston-btn {
        margin-top: 50px;
    }
    .creature-btn {
        margin-top: 80px;
    }
}

.contact-section {
    position: absolute;
    top: 37%;
    width: 50%;
    height: 20%;
}    

hr {
    border-top: 4px double #00f8fb;
    height: 5px;
    opacity: 100%;
    display: block;
    width: 30%;
    margin: 0;
}

.my-skills {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 40px 0;
    font-size: 70px;
}

.HTML {
    color: #ff581c;
}

.CSS {
    color: #05b8ff;
}

.SASS {
    color: #eb66a8;
}

.JS {
    color: #fee905;
}

.REACT {
    color: #00e0e0;
}

.GIT {
    color: #f27935;
}

.SKETCH {
    color: #ffaa34;
}

.GOOGLE {
    color: #1e90ff;
}

.btn {
    background: #ffffff;
    font-family: 'Raleway', sans-serif;
    margin-top: 10px;
    border-style: none;
    margin-right: 5px;
}

.btn:hover {
    background: #424242;
    color: #ffffff;
    border: 1px solid #282828;
}

.logo {
    display: block;
    padding: 8px 0;
    margin: 8px auto;
    width: 24px;
    height: auto;
    max-width: 100%;
}

.logo {
    a {
        background: #212121;
        text-decoration: none;
    }
}

#navigation {
    background: #424242;
    width: 80px;
    height: 100%;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 3;
    min-height: 500px;
    border-right: 2px solid #282828;
}

nav {
    flex-wrap: wrap;
}

#navigation {
    nav {
        a:active {
            background: #212121;;
        }
        a:hover {
            background: #212121;
        }
        a {
            font-size: 25px;
            margin-bottom: 15px;
            display: block;
            line-height: 51px;
            height: 51px;
            position: relative;
            text-decoration: none;
            color: #ffffff;
        } 
    }
    ul {
        display: block;
        padding: 0;
        list-style: none;
        text-align: center;
        margin: 0;
        padding-bottom: 20px;
    }
    a {
        color: #ffffff;
    }
}

#navigation {
    nav {
        a {
            b {
                display: none;
            }
        }
        a:hover {
            b {
                display: inline;
                font-size: 15px;
            }
            i {
                display: none;
            }
        }
    }
}

.hamburger {
    background-color: transparent;
    border: 0;
    color: #ffffff;
    cursor: pointer;
    display: none;
    font-size: 30px;
}

.hamburger:focus {
    outline: none;
}

@media only screen and (max-width: 1550px) {
    .home-section {
        position: absolute;
        top: 25%;
        left: 15%;
    }

    .lava {
        position: absolute;
        left: 199%;
        margin-top: -181px;
        margin-left: -334px;
        top: 0;
    }

    .lava {
        img {
            max-height: 750px;
            max-width: 970px;
        }
    }
    .about-section {
        position: absolute;
        top: 15%;
        left: 10%;
        height: 60%;
    }
    .skills-section {
        position: absolute;
        top: 25%;
        left: 15%;
    }

    .my-skills {
        li {
            padding: 0 20px 40px 0;
        }
    }

    .project-section {
        position: absolute;
        top: 25%;
        left: 15%;
    }
    .contact-section {
        position: absolute;
        top: 25%;
        left: 15%;
    }    
    .vert-timeline {
        position: absolute;
        left: 115%;
        margin-left: 120px;
        top: 27%;
        margin-top: -200px;
        height: 150%;
    }
        
}


@media only screen and (max-width : 767px) {
    body {
        font-size: .5em;
    }

    h1 {
        font-size: 1.5em;
    }

    #navigation  {
        background: #424242;
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 60px;
        top: 0;
        left: 0;
        z-index: 3;
        min-height: 0;
        position: fixed;
        border-bottom: 2px solid #282828;
    }

    #navigation {
        nav {
            width: 100%;
            position: fixed;
            border-bottom: 2px solid #282828;
        }
    }

    .logo {
        float: left;
        padding: 2px 0;
        margin: 10px 20px 10px 20px;
        display: block;
        text-align: center;
    }

    #navigation {
        nav {
            a {
                line-height: 60px;
                width: 100%;
                font-size: 30px;
            }
        }
        .social {
            display: none;
        }
        .nav-links {
            display: none;
            padding-bottom: 0;
        }
        .nav-links.show {
            background: #333333;
            display: flex;
            width: 100%;
            height: 60px;
        }
    }    

    .hamburger {
        display: block;
        float: right;
        margin: 10px 20px 5px 20px;
    }

    .container {
        height: 50%;
        top: 20%;
    }
    .home-section {
        position: absolute;
        top: 30%;
        left: 20%;
        width: 80%;
    }
    .lava {
            display: none;

    }    

    .about-section {
        position: absolute;
        left: 10%;
        font-size: 20px;
        width: 90%;
    }
    .skills-section {
        position: absolute;
        width: 80%;
    }

    .my-skills{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .my-skills {
        li {
            align-items: center;
            padding: 0 20px 40px 0;
        }
    }
    .project-section {
        position: absolute;
        width: 90%;
        left: 10%;
    }

    .project-container {
        margin-bottom: 20px;
        width: 80%;
        height: 80%;
        background-color: #212121;
    }
    .grey-container {
        background-color: #333333;
    }

    #my-projects {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: 10%;
        margin-top: 10%;
    }
    
    #my-projects {
        img {
            display: none;
        }
        .project-content {
            text-align: left;
            display: block;
            margin-bottom: 20px;
        }
        .btn {
            margin-top: 10px;
        }
        .versa-btn {
            margin-bottom: 10px;
        }
        h3 {
            padding: 10px;
            border-radius: 20px;
            text-align: left;
        }
        hr {
            border-top: 4px double #ff8a00;
        }
    }
    
    .contact-section {
        position: absolute;
        width: 80%;
        height: 50%;
    }

    hr {
        width: 70%;
    }
    
    .vert-timeline {
        display: none;
    }
}

