@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&family=Alice&family=Raleway:wght@300;500&family=VT323&display=swap");
body {
  background-color: #212121;
  color: #ffffff;
  overflow-x: hidden;
  overflow: auto;
  display: block;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  font-weight: 300;
}

h1 {
  font-family: 'Alice', serif;
  font-size: 3rem;
}

p {
  padding-top: 10px;
}

.page {
  width: 100%;
  height: 100%;
  position: absolute;
}

.container {
  width: 100%;
  height: 90%;
  min-height: 566px;
  position: absolute;
  top: 5%;
  left: 10%;
  margin: 0 auto;
  z-index: 1;
  line-height: 50px;
  font-size: 23px;
}

.home-section {
  position: absolute;
  top: 42%;
  width: 30%;
  height: 20%;
}

.lava {
  position: absolute;
  left: 157%;
  margin-left: 182px;
  top: -30px;
  margin-top: -237px;
  height: 80%;
  width: 60%;
}

.lava img {
  max-height: 990px;
  max-width: 970px;
}

.about-section {
  position: absolute;
  top: 30%;
  width: 40%;
  height: 70%;
}

.vert-timeline {
  position: absolute;
  left: 115%;
  margin-left: 120px;
  top: 5%;
  margin-top: -200px;
  height: 100%;
}

.skills-section {
  position: absolute;
  top: 35%;
  width: 40%;
  height: 20%;
}

.my-skills {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 40px 0;
  font-size: 70px;
}

.HTML {
  color: #ff581c;
}

.CSS {
  color: #05b8ff;
}

.SASS {
  color: #eb66a8;
}

.JS {
  color: #fee905;
}

.REACT {
  color: #00e0e0;
}

.GIT {
  color: #f27935;
}

.SKETCH {
  color: #ffaa34;
}

.GOOGLE {
  color: #1e90ff;
}

.flavor {
  position: absolute;
  left: 145%;
  margin-left: 182px;
  top: -30px;
  margin-top: -411px;
  height: 80%;
  width: 60%;
}

.flavor img {
  max-height: 990px;
  max-width: 970px;
}

.project-section {
  position: absolute;
  top: 20%;
  width: 100%;
  height: 20%;
}

#my-projects {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
  width: 100%;
  top: 10%;
  margin-top: 10%;
}

.project-container {
  display: block;
  position: relative;
  background-color: #454444;
  margin-right: 20%;
  height: 120%;
  padding: 10px 20px 5px 20px;
  border-radius: 20px;
  width: 50%;
  text-align: center;
}

.project-container .project-content {
  padding-bottom: 20px;
  height: 50%;
  width: 100%;
}

.project-container p {
  line-height: 30px;
}

.project-container img {
  max-height: 300px;
  max-width: 500px;
  padding: 20px;
  border-radius: 20px;
  background-color: #333333;
}

.project-container h3 {
  padding-top: 20px;
}

.project-container hr {
  width: 100%;
}

.project-container .btn {
  position: static;
  margin-top: 30px;
  margin-right: 10px;
}

.project-container .versa-btn {
  margin-top: 50px;
}

.project-container .galveston-btn {
  margin-top: 50px;
}

.project-container .creature-btn {
  margin-top: 25px;
}

.project-container .construction {
  background-color: #282828;
  padding-bottom: 10px;
  border-radius: 20px;
  margin-bottom: 0;
}

.contact-section {
  position: absolute;
  top: 37%;
  width: 50%;
  height: 20%;
}

hr {
  border-top: 4px double #00f8fb;
  height: 5px;
  opacity: 100%;
  display: block;
  width: 30%;
  margin: 0;
}

.btn {
  background: #ffffff;
  font-family: 'Raleway', sans-serif;
  margin-top: 10px;
  border-style: none;
  margin-right: 5px;
}

.btn:hover {
  background: #424242;
  color: #ffffff;
  border: 1px solid #282828;
}

.logo {
  display: block;
  height: auto;
  max-width: 100%;
  text-align: center;
  padding: 5px 0;
  background-color: #333333;
}

.logo img {
  max-height: 80px;
}

#navigation {
  background: #424242;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 3;
  min-height: 500px;
  border-right: 2px solid #282828;
}

nav {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#navigation nav a:active {
  background: #212121;
}

#navigation nav a:hover {
  background: #212121;
}

#navigation nav a {
  font-size: 25px;
  margin-bottom: 15px;
  display: block;
  line-height: 51px;
  height: 51px;
  position: relative;
  text-decoration: none;
  color: #ffffff;
}

#navigation ul {
  display: block;
  padding: 0;
  list-style: none;
  text-align: center;
  margin: 0;
  padding-bottom: 20px;
}

#navigation a {
  color: #ffffff;
}

#navigation nav a b {
  display: none;
}

#navigation nav a:hover b {
  display: inline;
  font-size: 15px;
}

#navigation nav a:hover i {
  display: none;
}

.hamburger {
  background-color: transparent;
  border: 0;
  color: #ffffff;
  cursor: pointer;
  display: none;
  font-size: 30px;
}

.hamburger:focus {
  outline: none;
}

@media only screen and (max-width: 1550px) {
  .logo img {
    max-height: 65px;
  }
  .home-section {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .lava {
    position: absolute;
    left: 199%;
    margin-top: -181px;
    margin-left: -334px;
    top: 0;
  }
  .lava img {
    max-height: 750px;
    max-width: 970px;
  }
  .about-section {
    position: absolute;
    top: 15%;
    left: 13%;
    height: 60%;
  }
  .vert-timeline {
    position: absolute;
    left: 103%;
    margin-left: 120px;
    top: 45%;
    margin-top: -200px;
    height: 150%;
  }
  .skills-section {
    position: absolute;
    top: 25%;
    left: 15%;
  }
  .my-skills li {
    padding: 0 20px 40px 0;
  }
  .flavor {
    left: 69%;
    top: 169px;
  }
  .project-section {
    position: absolute;
    top: 15%;
    left: 15%;
  }
  .project-container {
    width: 48%;
    margin-top: 5%;
    margin-right: 0;
    text-align: left;
    background-color: transparent;
  }
  .project-container img {
    background-color: #454444;
  }
  .project-container h3 {
    padding-top: 30px;
  }
  .project-container hr {
    width: 50%;
  }
  .project-container .creature-btn {
    margin-top: 25px;
  }
  .project-container .construction {
    background-color: transparent;
  }
  #my-projects {
    width: 80%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 5%;
  }
  .contact-section {
    position: absolute;
    top: 25%;
    left: 15%;
  }
}

@media only screen and (max-width: 767px) {
  body {
    font-size: .5em;
  }
  h1 {
    font-size: 1.5em;
  }
  #navigation {
    background: #424242;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
    height: 60px;
    top: 0;
    left: 0;
    z-index: 3;
    min-height: 0;
    position: fixed;
    border-bottom: 2px solid #282828;
  }
  #navigation nav {
    width: 100%;
    position: fixed;
    border-bottom: 2px solid #282828;
  }
  .logo {
    float: left;
    display: block;
    text-align: center;
    width: 15%;
  }
  .logo img {
    max-height: 45px;
  }
  #navigation nav a {
    line-height: 60px;
    width: 100%;
    font-size: 30px;
  }
  #navigation .social {
    display: none;
  }
  #navigation .nav-links {
    display: none;
    padding-bottom: 0;
  }
  #navigation .nav-links.show {
    background: #333333;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 60px;
  }
  .hamburger {
    display: block;
    float: right;
    margin: 10px 20px 5px 20px;
  }
  .container {
    height: 50%;
    top: 20%;
  }
  .home-section {
    position: absolute;
    top: 30%;
    left: 20%;
    width: 80%;
  }
  .lava {
    display: none;
  }
  .about-section {
    position: absolute;
    left: 10%;
    font-size: 20px;
    width: 90%;
  }
  .vert-timeline {
    display: none;
  }
  .skills-section {
    position: absolute;
    width: 80%;
  }
  .my-skills {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .my-skills li {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 20px 40px 0;
  }
  .flavor {
    display: none;
  }
  .project-section {
    position: absolute;
    width: 90%;
    height: 100%;
    left: 15%;
  }
  .project-container {
    margin-bottom: 20px;
    width: 100%;
    height: 65%;
    background-color: transparent;
  }
  .construction {
    padding-left: 10px;
  }
  .grey-container {
    background-color: #424242;
  }
  #my-projects {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 15%;
    margin-top: 10%;
    left: -2%;
  }
  #my-projects img {
    display: none;
  }
  #my-projects .project-content {
    text-align: left;
    display: block;
    margin-bottom: 20px;
  }
  #my-projects .btn {
    margin-top: 10px;
  }
  #my-projects .versa-btn {
    margin-bottom: 10px;
  }
  #my-projects h3 {
    padding: 0 10px 10px 0;
    border-radius: 20px;
    text-align: left;
  }
  #my-projects hr {
    border-top: 4px double #00e0e0;
    width: 60%;
  }
  .contact-section {
    position: absolute;
    width: 80%;
    height: 50%;
  }
  hr {
    width: 70%;
  }
}
/*# sourceMappingURL=style.css.map */